{% extends "Frame/framepage.html" %}
{% block content %}

<style>
/* GENERAL CODE */
#mainTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#mainTable td, #mainTable th {
  padding: 8px;
}

#mainTable td{
  padding: 8px;
  font-size: 15px;
}
#mainTable tr:nth-child(even){background-color: #f2f2f2;}

#mainTable tr:hover {background-color: #ddd;}

#mainTable thead,th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-size: 17px;
}

/* GENERAL CODE */


/* SEPERATE CODE */
#mainTable thead,th {
  background-color:#778899;
}
/* SEPERATE CODE */

</style>


<div class="col12">
  <div id="content">
    <div class="titlebox">Search OutPatient</div>
    <div class="row myrow">

      <div class="col-2" style="width:10%;">
        <form action="opdSearchPatientViewToday" method="POST">
        <span class="texttule">Today:</span>
        <input type="submit" value="Today">
      </form>
      </div>

      <div class="col-5" style="width:37%;">
      <form action="opdSearchPatientViewdate" method="POST">
        <span class="texttule">From:</span>
        <input type="date" name="fdate" required>
        <span class="texttule">To:</span>
        <input type="date" name="tdate" required>
        <input type="submit" value="Search">
        {%if msg == 'Excel Sheet Generated Successfully!'%}
        <a href="static/OpdUploads/opd.xlsx" download>
          <img src="static/icon4/excel6.png" width="40px" height="40px"></a>
          {%endif%}
      </form>
    </div>

    <div class="col-6">
    <form action="opdSearchPatientViewNameDate" method="POST">
      <span class="texttule">First Name:</span>
      <input type="text" name="pfname" class='alphaonly' style="width:120px;" required>
      <span class="texttule">From:</span>
      <input type="date" name="fdate" required>
      <span class="texttule">To:</span>
      <input type="date" name="tdate" required>
      <input type="submit" value="Search">
    </form>
  </div>

  </div>
    <div class="row myrow">
    <form action="opdSearchPatientViewregno" method="POST">
      <div class="col-3">
        <span class="texttule">RegNo:</span>
        <input type="text" name="regno" class="alphanumeric" style="width:120px;" required>
        <input type="submit" value="Search">
      </div>
    </form>
    <form action="opdSearchPatientViewfname" method="POST">
      <div class="col-3">
        <span class="texttule">First Name:</span>
        <input type="text" name="pfname" class='alphaonly' style="width:120px;" required>
        <input type="submit" value="Search">
      </div>
    </form>
    <form action="opdSearchPatientViewcontact" method="POST">
      <div class="col-3">
        <span class="texttule">Contact No:</span>
        <input type="text" name="contactno" class='numeric' maxlength="10" style="width:120px;" required>
        <input type="submit" value="Search">
      </div>
    </form>
    <form action="opdSearchPatientViewAddress" method="POST">
      <div class="col-3">
        <span class="texttule">Address:</span>
        <input type="text" name="address" class='alphaonly' style="width:120px;" required>
        <input type="submit" value="Search">
      </div>
    </form>
    </div>
    <div class="col-12" style="text-align:center;color:green;"><span class="texttule">{{msg}}</span></div>

  </div> <!--- Content --->
</div><!--- col-12 --->


  <div class="col-10" style="width:100%;height:auto;overflow:auto;">
    <table  id="mainTable" >
    <thead>
      <th>Print</th>
      <th style="display:none">OPDid</th>
      <th>Regno</th>
      <th>PatientName</th>
      <th>RelativeName</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Visit Date</th>
      <th>Visit Time</th>
      <th>PatientCategory</th>
      <th>Occupation</th>
      <th>Education</th>
      <th>Contact No</th>
      <th>Post</th>
      <th>Tehsil</th>
      <th>District</th>
      <th>Address</th>
      <th>Cast</th>
      <th>Aadhar No</th>
      <th>Ration Card</th>
      <th>complaint</th>
</thead>
  {%for row in ds%}
  <tr>
    <form action="outPatientPrint" method="POST">
      <td><input type="submit" value="Print" ></td>
        <input type="text" name="opdid" value="{{row[26]}}" style="display:none;">
        <input type="hidden" name="page" value="SEARCHPAGE">
    </form>

    <td style="display:none">{{row[26]}}</td>  <!--this is opid-->
    <td><b>{{row[1]}}</b></td>   <!--this is regno-->
    <td>{{row[2]}} {{row[3]}} {{row[4]}}</td>
    <td><b>{{row[5]}}:-</b>{{row[6]}} {{row[7]}} {{row[8]}}</td>
    <td>{{row[13]}}</td>
    <td>{{row[11]}} {{row[12]}}</td>
    <td><b>{{row[9]}}</b></td>
    <td><b>{{row[10]}}</b></td>
    <td>{{row[17]}}</td>
    <td>{{row[15]}}</td>
    <td>{{row[14]}}</td>
    <td>{{row[16]}}</td>
    <td>{{row[18]}}</td>
    <td>{{row[19]}}</td>
    <td>{{row[20]}}</td>
    <td>{{row[21]}}</td>
    <td>{{row[22]}}</td>
    <td>{{row[23]}}</td>
    <td>{{row[24]}}</td>
    <td>{{row[25]}}</td>

  </tr>
  {%endfor%}
</table>
</div>

{% endblock %}
