{% extends "Frame/framepage.html" %}
{% block content %}
<style>
.subtitle
{
background-color:#F0E68C;
width: auto;
padding-left: 1.5%;
}
.spnhead{
  font-size: 20px;
  font-weight: bold;
}
.spndata{
  font-size: 20px;
}

#Framecontent{
    border:2px solid #B0C4DE;
    padding:10px;
    margin-top: 5px;

}

.Frametitlebox{
    font-weight: bold;
    font-size: 16px;
    float:left;
    padding:0 15px 0 15px;
    margin:-20px 0 0 3px;
    color: black;
    background:#B0C4DE;
    border-radius:3px;
    border:1px solid #0000CD;
}

/* GENERAL CODE */
#mainTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 200px;

}

#mainTable td, #mainTable th {
  padding: 8px;
}

#mainTable td{
  padding: 8px;
  font-size: 15px;
}
#mainTable tr:nth-child(even){background-color: #f2f2f2;}

#mainTable tr:hover {background-color: #ddd;}

#mainTable thead,th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-size: 17px;
}

tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

/* GENERAL CODE */


/* SEPERATE CODE */
#mainTable thead,th {
  background-color:#778899;
}
/* SEPERATE CODE */



</style>

<script>
function calculateAmount()
{
var newcount=document.getElementById('newcount').value;
var oldcount=document.getElementById('oldcount').value;

var newamount=document.getElementById('newamount').value;
var oldamount=document.getElementById('oldamount').value;
var total = newcount*newamount + oldcount*oldamount;

document.getElementById('total').value=total;
}
</script>

<div class="col-12">
  <div id="content">
    <div class="titlebox">Acknowledgement Of Inpatient Visit</div>
    <div class="col-2"></div>

    <div class="row">

      <div class="col-3">
      <div id="Framecontent">
        <div class="Frametitlebox">Pick Any Date</div>
          <form action="getIpdAcknowledge" method="POST">
            <br>
            <span class="texttule">Date:</span>
            <input type="date" name="fildate" required>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>

      <div class="col-5">
        <div id="Framecontent">
          <div class="Frametitlebox">Pick Range of Date</div>
            <form action="getIpdAcknowledgeRange" method="POST">
              <br>
              <span class="texttule">From:</span>
              <input type="date" name="fdate" required>
              <span class="texttule">To:</span>
              <input type="date" name="tdate" required>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
    </div>

  {%if flag1==1%}
    <div class="row myrow" >
      <div class="col-12" style="width:99%;">
        <div id="Framecontent">
          <div class="Frametitlebox">Details of :<span style="color:blue;">{{fdate.strftime('%d/%m/%Y')}}</span></div>
          <br>
          <!---FIRST ROW --->
          <div class="row myrow">
            <div class="col-6" style="background-color:#F0E68C;border:2px solid pink ;width:47%;"><span class="spnhead">Total Patients</span></div>
            <div class="col-1" style="width:0.5%;"></div>
            <div class="col-6" style="background-color:#F0E68C;border:2px solid pink;width:51.5%;"><span class="spnhead">Calculate Amount</span></div>
          </div>

          <div class="row myrow">
              <div class="col-6" style="width:47.5%;">
                {% for row in ptype%}
                <div class="col-3">
                  <span class="spnhead">New:</span>
                  <input type="text" value="{{row[0]}}"  style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#1c1c61; font-weight:bold; text-align:center" disabled="true" >
                </div>

                <div class="col-3">
                  <span class="spnhead">Old:</span>
                  <input type="text" value="{{row[1]}}" style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#1c1c61; font-weight:bold; text-align:center" disabled="true" >
                </div>
                <div class="col-6">
                  <span class="spnhead">Total No Of Patient:</span>
                  <input  type="text" value="{{row[0] + row[1]}}"  style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#1c1c61; font-weight:bold; text-align:center" disabled="true" >
                </div>
                {%endfor%}
              </div>
              <div class="col-1" style="width:0.5%;"></div>
                <div class="col-6" style="width:51%;">
                  {% for row in gn%}
                  <div class="col-4">
                    <span class="spnhead">NewAmount:</span>
                    <input type="text" value="20" id="newamount"  style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#DAA520; font-weight:bold; text-align:center"  >
                  </div>
                  <div class="col-5">
                    <span class="spnhead">OldAmount:</span>
                    <input type="text" value="10" id="oldamount" style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#DAA520; font-weight:bold; text-align:center"  >
                    <input type="submit" value="Submit" onclick="calculateAmount()">
                  </div>
                    <input type="text" value="{{row[0]}}" id="newcount" style="display:none;">
                    <input type="text" value="{{row[1]}}" id="oldcount" style="display:none;">
                  <div class="col-3">
                    <span class="spnhead">Total:</span>
                    <input  type="text" id="total" value="{{row[2]}}" style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#DAA520; font-weight:bold; text-align:center" disabled="true" >
                </div>

                <div class="col-12">
                  <p style="color:red;"><b>Note: Amount Is Calculated on the basis of General Patient.</b></p>
                </div>
                {%endfor%}
            </div>
        </div>

        <!---SECOND ROW --->
        <div class="row myrow">
          <div class="col-12" style="background-color:#F0E68C;border:2px solid pink ;width:99.1%;"><span class="spnhead">Patient Category</span></div>
        </div>

        <div class="row myrow">
            <div class="col-12" style="width:99.1%;">
              {%for row in pack%}
              <div class="col-2">
                <span class="spnhead">General:</span>
                <input type="text" value="{{row[0]}}"  style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#1c1c61; font-weight:bold; text-align:center" disabled="true" >
              </div>
              <div class="col-2">
                <span class="spnhead">Staff:</span>
                <input type="text" value="{{row[1]}}"  style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#1c1c61; font-weight:bold; text-align:center" disabled="true" >
              </div>
              <div class="col-2">
                <span class="spnhead">CMSS:</span>
                <input type="text" value="{{row[2]}}"  style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#1c1c61; font-weight:bold; text-align:center" disabled="true" >
              </div>
              <div class="col-2">
                <span class="spnhead">Company:</span>
                <input type="text" value="{{row[3]}}"  style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#1c1c61; font-weight:bold; text-align:center" disabled="true" >
              </div>
              <div class="col-4">
                <span class="spnhead">Government Scheme:</span>
                <input type="text" value="{{row[4]}}"  style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#1c1c61; font-weight:bold; text-align:center" disabled="true" >
              </div>
              {%endfor%}
            </div>
          </div>

          <br>
          <div class="row myrow">
            <div class="col-12" style="background-color:#F0E68C;border:2px solid pink;width:99.1%;"><span class="spnhead">Companies</span></div>
            {%for row in comp%}
              <div class="col-2">
                <span class="spnhead">{{row[0]}}:</span>
                <input type="text" value="{{row[1]}}"  style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#1c1c61; font-weight:bold; text-align:center" disabled="true" >
              </div>
            {%endfor%}
          </div>
          <br>
          <div class="row myrow">
            <div class="col-12" style="background-color:#F0E68C;border:2px solid pink;width:99.1%;"><span class="spnhead">Government Schemes</span></div>
            {%for row in gs%}
              <div class="col-2">
                <span class="spnhead">{{row[0]}}:</span>
                <input type="text" value="{{row[1]}}"  style="width:75px;height:30px;font-size:18px;font-family: Arial;letter-spacing: 0.008em;color:white;background-color:#1c1c61; font-weight:bold; text-align:center" disabled="true" >
              </div>
            {%endfor%}
          </div>

        </div>
      </div>
      </div>
    </div>
    {%elif flag2==1%}
            <div class="row myrow" >
              <div class="col-5" style="max-height:350px;line-height:1em;overflow:auto;">
                  <table  border="1" id="mainTable">
                    <thead>
                      <th>Date</th>
                      <th>New</th>
                      <th>Old</th>
                      <th>Total</th>
                    </thead>
                    {%for row in ptypetot%}
                    <tr style="background-color:green;color:white;font-weight:bold">
                      <td style="color:white;">{{fdate.strftime('%d/%m/%Y')}}<br>To<br>{{tdate.strftime('%d/%m/%Y')}}</td>
                      <td style="color:white;">{{row[0]}}</td>
                      <td style="color:white;">{{row[1]}}</td>
                      <td style="color:white;">{{row[2]}}</td>
                    </tr>
                    {%endfor%}
                    {%for row in ptype%}
                    <tr>
                      <td>{{row[0].strftime('%d/%m/%Y')}}</td>
                      <td>{{row[1]}}</td>
                      <td>{{row[2]}}</td>
                      <td>{{row[3]}}</td>
                    </tr>
                    {%endfor%}
                  </table>
                </div>
                <div class="col-7" style="max-height:350px;line-height:1em;overflow-y:auto;overflow-y:auto;overflow-x: hidden;">
                    <table border="1" id="mainTable">
                      <thead>
                        <th>Date</th>
                        <th>General</th>
                        <th>Staff</th>
                        <th>CMSS</th>
                        <th>Company</th>
                        <th>Gov Scheme</th>
                        <th>Total</th>
                      </thead>
                      {%for row in pcattot%}
                      <tr style="background-color:green;color:white;font-weight:bold">
                        <td style="color:white;">{{fdate.strftime('%d/%m/%Y')}}<br>To<br>{{tdate.strftime('%d/%m/%Y')}}</td>
                        <td style="color:white;">{{row[0]}}</td>
                        <td style="color:white;">{{row[1]}}</td>
                        <td style="color:white;">{{row[2]}}</td>
                        <td style="color:white;">{{row[3]}}</td>
                        <td style="color:white;">{{row[4]}}</td>
                        <td style="color:white;">{{row[5]}}</td>
                      </tr>
                      {%endfor%}
                      {%for row in pack%}
                      <tr>
                        <td>{{row[0].strftime('%d/%m/%Y')}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[5]}}</td>
                        <td>{{row[6]}}</td>
                      </tr>
                      {%endfor%}
                      </table>
                  </div>
                </div>
              {%endif%}
  </div> <!--- Content --->
</div><!--- col-12 --->
<br>



{% endblock %}
