{% extends "Frame/framepage.html" %}
{% block content %}

<style>

  .subtitlebox{
      font-weight: bold;
      font-size: 20px;
      font-family: Times New Roman;
      padding:5px;
      background:#80DFFF;
      width:101%;
  }

.subtitle
{
background-color:#F0E68C;
width: 101%;
}
.spnhead{
  font-size: 20px;
  font-weight: bold;
}
.spndata{
  font-size: 18px;
  font-weight: bold;
}


		.container{
			width: 100%;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
		}



		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
    ul.tabs li{
      background: none;
      display: inline-block;
      padding: 8px 15px;
      padding-right:50px;
      cursor: pointer;
      color: #222;
      font-size: 18px;
		}

		ul.tabs li.current{
			background: #F0FFFF;
			color: #222;
      font-weight: bold;
		}

		.tab-content{
			display: none;
			background: #F0FFFF;
			padding: 15px;
		}

		.tab-content.current{
			display: inherit;
		}
</style>
<script>
function display_c(){
var refresh=1000; // Refresh rate in milli seconds
mytime=setTimeout('display_ct()',refresh)
}
function display_ct(){
var today = new Date();
var h = today.getHours();
var m = today.getMinutes();
var s = today.getSeconds();
var dd = today.getDate();
var mm = today.getUTCMonth()+1;
var yy = today.getFullYear();
m = checkTime(m);
s = checkTime(s);

dd = checkTime(dd);
mm = checkTime(mm);



document.getElementById('anc_date').value = yy + "-" + mm + "-" + dd;
tt=display_c();
}
</script>

<div class="col12">
  <div id="content">
    <form action="ANCConsult" method="POST">
      <div class="titlebox" align="center">ANTE NATAL CARE VISIT</div>
      <div class="row" style="padding-bottom:1px;"></div>
      <div class="row myrow">
        <div class="col-12">
          <div align="center">
          <span class="texttule">Enter Registration No:</span>
          <input type="text" name="regno" class="alphanumeric">
          <input type="date" name="anc_date" id="anc_date" style="display:none;">

          <input type="submit" value="Search">
        </div>
        </div>
      </div>
    </form>
    {%if ack1 != ' '%}
      <div class="row myrow">
        <div class="col-3" style="color:green;">{{ack1}}</div>
      </div>
    {%endif%}

    {%if ack2 != ' '%}
      <div class="row myrow">
        <div class="col-3" style="color:green;">{{ack2}}</div>
      </div>
    {%endif%}

    {%if ack3 != ' '%}
      <div class="row myrow">
        <div class="col-3" style="color:green;">{{ack2}}</div>
      </div>
    {%endif%}

    </div>
    </div>


{% endblock %}
