<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Shaheed Hospital</title>
    <meta name ="viewport" content="width=device-width,initial-scale=1" >
    <script src="{{ url_for('static',filename='jquery-2.1.1.min.js') }}" type="text/javascript"></script>
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="static/js/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/mycss.css">
    <link rel="stylesheet" type="text/css" href="static/css/homework.css?q=1989556">
    <link rel="stylesheet" type="text/css" href="static/css/homework.css">
    <link rel="icon" type="image/jpeg" href="static/img/cross.png">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui.css">

<!--
    <script type="text/javascript" src="{{ url_for('static',filename='jquery-1.12.4.min.js') }}"></script>
  -->
    <script src="static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="static/js/validationupdate.js"></script>

<script>

function display_c(){
var refresh=1000; // Refresh rate in milli seconds
mytime=setTimeout('display_ctF()',refresh)
}

function display_ctF(){

var today = new Date();
var h = today.getHours();
var m = today.getMinutes();
var s = today.getSeconds();
var dd = today.getDate();
var mm = today.getUTCMonth()+1;
var yy = today.getFullYear();
m = checkTime(m);
s = checkTime(s);

dd = checkTime(dd);
mm = checkTime(mm);


document.getElementById('time').value = h + ":" + m + ":" + s;
document.getElementById('date').value = dd + "/" + mm + "/" + yy;

tt=display_c();
}
function checkTime(i){
    if(i<10){i = "0" + i};
    return i;
}

function calcBmi() {

var weight = document.getElementById('weight').value
var height = document.getElementById('height').value
  if(weight > 0 || height > 0){
var finalBmi = weight/(height/100*height/100)
document.getElementById('bmi').value = finalBmi.toFixed(2);
}
else
  {
  alert("Please Fill in everything correctly")
  }
}


</script>
<style>
.navbar-nav>li {
    padding-left: inherit;
    padding-right: inherit;
    padding-right:10px;
}
</style>

<body onload="display_ctF();"style="overflow-x:hidden;overflow-y:auto;">
<!-- header -->
<div class="header" style="background-color: ">
    <div class="section-inner">
        <div class="row" >
          <div class="col-4">
          Date:<input type="text" id="date"  disabled="true" size="8" style="height:25px;" />
        </div>
        <div class="col-5" style="display:inline;">
        <h3 class="title" style="margin-top:0%;"><b>Shaheed Hospital Dalli Rajhara</b></h3>
         </div>
        <div class="col-2" style="display:inline;margin-left:8%;">
          Time: <input type="text" id="time" disabled="true" size="5" style="height:25px;" />
        </div>
        <div class="col-1" style="display:inline;margin-left:-8%;">
          <a href="{{url_for('logout')}}">
            <div style="height:25px;width:60px;background-color:#4682B4;color:white;border-radius:5px;padding:3px 0px 0px 7px;"><b>Logout</b></div>
          </a>
        </div>
    </div>
    <!-- /section-inner -->
</div>
<!--/header-->

<!-- colors -->

        <div class="red"></div>
        <div class="green"></div>
        <div class="white"></div>
<!-- colors End -->

<!---
#F5F5F5
#E0FFFF
#FFEFD5
--->
<nav class="navbar navbar-default" role="navigation" style="background-color:#F5F5F5;">
<div>
<ul class="nav navbar-nav" style="text-align:center;">

  <li class="dropdown" style="text-align:center;font-weight: bold;">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <img src="static/icon4/newpatient2.png" height=50px width=50px><br>
  PATIENT REGISTRATION
  </a>
  <ul class="dropdown-menu" style="text-align:center;">
  <li><a href="{{url_for('newpatient_Redir')}}" >NEW PATIENT</a></li>
  <li class="divider"></li>
  <li><a href="{{url_for('oldpatient_Redir')}}">OLD PATIENT</a></li>
  <li class="divider"></li>
  <li><a href="{{url_for('updatepatient_Redir')}}">UPDATE PATIENT RECORD</a></li>
  <li class="divider"></li>
  <li><a href="{{url_for('registrationAddRemove')}}"><b>Admin Section</b></a></li>
  </ul>
  </li>



<li class="dropdown" style="text-align:center;font-weight: bold;">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img src="static/icon4/outpatient2.png" height=50px width=50px><br>
OUTPATIENT
</a>
<ul class="dropdown-menu" style="text-align:center;">
<li><a href="opdViewUpdate_Redir">OPD VISIT VIEW/UPDATE</a></li>
<li class="divider"></li>
<li><a href="opdAcknowledgement_Redir">ACKNOWLEDGEMENT</a></li>
<li class="divider"></li>
<li><a href="opdUpDoc_Redir">OPD UPLOAD DOCUMENTS</a></li>
<li class="divider"></li>
<li><a href="opdSearch_Redir">OPD SEARCH</a></li>


</ul>
</li>


<li class="dropdown" style="text-align:center;font-weight: bold;">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img src="static/icon4/consult.png" height=50px width=50px><br>
OPD CONSULT
</a>
<ul class="dropdown-menu" style="text-align:center;">
<li><a href="{{url_for('opdConsult_Redir')}}">OPD CONSULT</a></li>
<li class="divider"></li>
<li><a href="opdConsultViewUpdate_Redir">CONSULT VIEW/UPDATE</a></li>
<li class="divider"></li>
<li><a href="opdConsultViewUpdate">OPD CONSULT REPORT</a></li>
<li class="divider"></li>
<li><a href="{{url_for('diagnosisRedir')}}"><b>Admin Section</b></a></li>

</ul>
</li>

<li class="dropdown" style="text-align:center;font-weight: bold;">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img src="static/icon4/inpatient2.png" height=50px width=50px><br>
INPATIENT
</a>
<ul class="dropdown-menu" style="text-align:center;">
<li><a href="/admit_Redir">IPD ADMIT</a></li>
<li class="divider"></li>
<li><a href="ipdViewUpdate_Redir">VIEW/UPDATE ADMIT</a></li>
<li class="divider"></li>
<li><a href="ipdAck_Redir">ACKNOWLEDGEMENT</a></li>
<li class="divider"></li>
<li><a href="/ipd_discharge_Redir">IPD DISCHARGE</a></li>
<li class="divider"></li>
<li><a href="/ipdSearch_Redir">IPD SEARCH</a></li>
<li class="divider"></li>
<li><a href="{{url_for('deathReasonRedir')}}"><b>Admin Section</b></a></li>
</ul>
</li>

<li class="dropdown" style="text-align:center;font-weight: bold;">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img src="static/icon4/anc3.png" height=50px width=50px><br>
ANC
</a>
<ul class="dropdown-menu" style="text-align:center;">
<li><a href="{{url_for('anc_Redir')}}">ANC CONSULT</a></li>
<li class="divider"></li>
<li><a href="{{url_for('ancView_Update_Redir')}}">VIEW/UPDATE ANC</a></li>
<li class="divider"></li>
<li><a href="{{url_for('anc_view_gen1')}}">ANC SEARCH</a></li>

</ul>
</li>

<li class="dropdown" style="text-align:center;font-weight: bold;">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img src="static/icon4/general-ward2.png" height=50px width=50px><br>
WARD
</a>
<ul class="dropdown-menu" style="text-align:center;">
<li><a href="{{url_for('WardLogin')}}">Login To Ward</a></li>
<li class="divider"></li>
<li><a href="{{url_for('GetdeliveryRedir')}}">Delivery</a></li>
<li class="divider"></li>
<li><a href="{{url_for('SurgeryAdminRedir')}}">Surgery (OT)</a></li>
<li class="divider"></li>
<li><a href="{{url_for('GetTransferMed')}}">Medicine Transfer</a></li>
<li class="divider"></li>
<li><a href="{{url_for('GetWardAdminRedir')}}"><b>Admin Section</b></a></li>
</ul>
</li>

<li class="dropdown" style="text-align:center;font-weight: bold;">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img src="static/icon4/medicine.png " height=50px width=50px><br>
MEDICINE STORE
</a>
<ul class="dropdown-menu" style="text-align:center;">
<li><a href="{{url_for('Notificationpage')}}">Notifications Page</a></li>
<li class="divider"></li>
<li><a href="{{url_for('medicineAdmin')}}">Medicine Main Page</a></li>
<li class="divider"></li>
<li><a href="{{url_for('medicine_outward_redir')}}"> Medicine Outward</a></li>
<li class="divider"></li>
<li><a href="{{url_for('medicine_return')}}"> Medicine Return By Wards</a></li>
<li class="divider"></li>
<li><a href="{{url_for('inventory')}}" target="_blank"><b>INVENTORY MANAGEMENT </b></a></li>

</li>
</ul>
</li>

<li class="dropdown" style="text-align:center;font-weight: bold;">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <img src="static/icon4/lab.png" height=50px width=50px><br>
  LAB
  </a>
  <ul class="dropdown-menu" style="text-align:center;">
  <li><a href="collectsample">Collect Sample</a></li>
  <li class="divider"></li>
  <li><a href="editSample_Redir">Edit Sample</a></li>
  <li class="divider"></li>
  <li><a href="validate_sample_Redir">Validate Sample</a></li>
  <li class="divider"></li>
  <li><a href="lab_report_Redir">Edit Validate Sample</a></li>
  <li class="divider"></li>
  <li><a href="{{ url_for('lab_admin') }}"><b>Lab Administration</b></a></li>

  </li>
  </ul>
  </li>




<li class="dropdown" style="text-align:center;font-weight: bold;">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
<img src="static/icon4/pills.png" height=50px width=50px><br>
BILLING
</a>
<ul class="dropdown-menu" style="text-align:center;">
<li><a href="billmedicinemain">Medicine</a></li>
<li class="divider"></li>
<li><a href="opdbillingRedir">Investigations and Services</a></li>
<li class="divider"></li>
<li><a href="opdBillingSearch_Redir">OPD BILLING SEARCH</a></li>
<li class="divider"></li>
<li><a href="ipdBillingSearch_Redir">IPD BILLING SEARCH</a></li>
<li class="divider"></li>
<li><a href="billingMain"><b>Admin Section</b></a></li>
</li>
</ul>
</li>

<li class="dropdown" style="text-align:center;font-weight: bold;">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <img src="static/icon4/xray.png" height=50px width=50px><br>
  X-Ray
  </a>
  <ul class="dropdown-menu">
  <li><a href="{{url_for('xray_Redir')}}">Insert Xray Details</a></li>
  <li class="divider"></li>
  <li><a href="{{url_for('xray_displayRedir')}}">Xray View/Acknowledge</a></li>
  <li class="divider"></li>
  <li><a href="{{url_for('updateRedir')}}">Update Xray Details</a></li>
  <li class="divider"></li>
  <li><a href="{{url_for('xray_partRedir')}}"><b>Admin Section</b></a></li>
  </li>
  </ul>
  </li>

  <li  style="text-align:center;font-weight: bold;">
    <a href="{{url_for('patientPortal_Redir')}}" >
    <img src="static/icon4/pp.png" height=50px width=50px><br>
    Patient Portal
    </a>
    </li>



</ul>
</div>
</nav>



{% block content %}
{% endblock %}



<!-- footer start -->

<!-- /footer end -->
</body>
</html>
