{% extends "Frame/framepage.html" %}
{% block content %}
<style>
    #collectTest {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#collectTest td, #collectTest th {
  padding: 8px;
}

#collectTest td{
  padding: 8px;
  font-size: 15px;
}


#collectTest thead,th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-size: 17px;
}

/* GENERAL CODE */


/* SEPERATE CODE */
#collectTest thead,th {
  background-color:#778899;
}
    /* SEPERATE CODE */
    .subtitle
{
background-color:#F0E68C;
}
.spnhead{
  font-size: 20px;
  font-weight: bold;
}
.spndata{
  font-size: 18px;
  font-weight: bold;
}
    </style>
<div class="col12">
    <div id="content">
      <div class="titlebox">Enter Test Values Form</div>



{%if ds1 != ''%}
{%for row in pat_data%}

<div class="col-12 subtitle">
<div class="col-2"><span class="spnhead">Regno:</span><span class="spndata">{{row[0]}}</span></div>
<div class="col-3"><span class="spnhead">Name:</span><span class="spndata">{{row[1]}} {{row[2]}} {{row[3]}}</span></div>

<div class="col-2"><span class="spnhead">Sex:</span><span class="spndata">{{row[5]}}</span></div>
<div class="col-2"><span class="spnhead">Age:</span><span class="spndata">{{row[4]}}</span></div>
<div class="col-2"><span class="spnhead">Source: </span><span class="spndata">{{row[7]}}</span></div>
<div class="col-2"><span class="spnhead">Date: </span><span class="spndata">{{row[6]}}</span></div>
<div class="col-2"><span class="spnhead">Source ID: </span><span class="spndata">{{row[8]}}</span></div>

</div>
<br>

{%endfor%}
{%else%}
<br>
<div class="row myrow">
  <div class="col-3">{{ack1}}</div>
</div>

{%endif%}

<table id="collectTest">
    <thead>
        <th>Sample Name</th>
        <th>Test Name</th>
        <th>Test Value</th>
        <th>Unit</th>
        <th>Male Range Min</th>
        <th>Male Range Max</th>
        <th>Female Range Min</th>
        <th>Female Range Max</th>
        
    </thead>
    {% for w in data %}
        
    <tr>
        <td>{{ w[0] }} </td>
        <td>{{ w[1] }} </td>
        <td><b>{{ w[8] }}</b></td>
        <td>{{ w[2] }}</td>
        <td>{{ w[3] }}</td>
        <td>{{ w[4] }}</td>
        <td>{{ w[5] }}</td>
        <td>{{ w[6] }}</td>
        
    </tr>
        
    {% endfor %}

</table>
<br><br>


    </div>
    </div>
{% endblock %}
