{% extends "Frame/framepage.html" %}
{% block content %}
<style>
#mainTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#mainTable td, #mainTable th {
  padding: 8px;
}

#mainTable td{
  padding: 8px;
  font-size: 15px;
}
#mainTable tr:nth-child(even){background-color: #f2f2f2;}

#mainTable tr:hover {background-color: #ddd;}

#mainTable thead,th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  font-size: 17px;
}

/* GENERAL CODE */


/* SEPERATE CODE */
#mainTable thead,th {
  background-color:#778899;
}
</style>
<script>


  $(function()
    {
        $("#drugname").autocomplete
        ({
            source: function(request,response )
            {
              var drugname=document.getElementById('drugname').value;
                $.ajax
                ({
                    type:"POST",
                    url: "getAllDrugname",
                    data:'drugname='+drugname,
                    success: function(data)
                    {
                      //alert(data['d'][2]);
                      response(data);
                    }
                });
            },
        });
    });
</script>
<div class="col-12">
  <div id="content">
    <div class="titlebox">MEDICINE OUTWARD SEARCH</div>
     <br>
    <form action = "ViewByIssuedDate" method="POST">
		<div class="row myrow">
    <div class="col-3">
    <span class="texttule">IssuedDateFrom:</span>
  <td><input  type="date" id="issuedfrom"  name= "issuedfrom" required></td>
  </div>
    <div class="col-3">
  <span class="texttule">IssuedDateTo:</span>
  <td><input  type="date" id="issuedto"  name="issuedto" required></td>
  </div>

   <div class="col-2">
   <input type="submit" class="button" id='btnsave' value="SEARCH" style="height:30px;width:100px;background-color:#A9A9A9;font-weight:bold">
   {%if ack1 == 'Excel Sheet Generated Successfully'%}
   <a href="static/MedicineUploads/OutwardIssuedDateList.xlsx" download>
   <img src="static/icon4/excel6.png" width="40px" height="40px"></a>
     {%endif%}
     <p style="inline"><b> {{ack1}}</b></p>

    </div>
    </div>
    </form>

     <form action ="ViewByDrugName" method="POST">
		<div class="row myrow">
    <div class="col-3">
      <div class="ui-widget">
      <span class="texttule">DrugName:</span>
	 <td><input  type="text" id="drugname"  name= "drugname" required></td>
   </div></div>

   <div class="col-3">
    <span class="texttule">IssuedDateFrom:</span>
  <td><input  type="date" id="issuedfrom"  name= "issuedfrom" required ></td>
  </div>
    <div class="col-3">
  <span class="texttule">IssuedDateTo:</span>
  <td><input  type="date" id="issuedto"  name="issuedto" required></td>
  </div>

   <div class="col-2">
   <input type="submit" class="button" id='btnsave' value="SEARCH" style="height:30px;width:100px;background-color:#A9A9A9;font-weight:bold">
   {%if ack2 == 'Excel Sheet Generated Successfully'%}
   <a href="static/MedicineUploads/OutwardViewDrugnameList.xlsx" download>
   <img src="static/icon4/excel6.png" width="40px" height="40px"></a>
     {%endif%}
     <p style="inline"><b> {{ack2}}</b></p>

    </div>
    </div>
    </form>

    <form action ="ViewByDrugType" method="POST">
      <div class="row myrow">
    <div class="col-3">
	 <span class="texttule">DrugType :</span>
   <select name="drugtype" id="drugtype" required>
   <option value="">--Select--</option>
   {%for row in result1%}
    <option value="{{row[0]}}">{{row[0]}}</option>
    {%endfor%}
    </select>

   </div>

   <div class="col-3">
    <span class="texttule">IssuedDateFrom:</span>
  <td><input  type="date" id="issuedfrom"  name= "issuedfrom" required></td>
  </div>
    <div class="col-3">
  <span class="texttule">IssuedDateTo:</span>
  <td><input  type="date" id="issuedto"  name= "issuedto" required></td>
  </div>

   <div class="col-2">
   <input type="submit" class="button" id='btnsave' value="SEARCH" style="height:30px;width:100px;background-color:#A9A9A9;font-weight:bold">
   {%if ack3 == 'Excel Sheet Generated Successfully'%}
   <a href="static/MedicineUploads/OutwardViewDrugTypeList.xlsx" download>
   <img src="static/icon4/excel6.png" width="40px" height="40px"></a>
     {%endif%}
     <p style="inline"><b> {{ack3}}</b></p>

    </div>
    </div>
    </form>

    <form action ="ViewByWardNameIssuedDateFromTo" method="POST">
      <div class="col-3">
    <span class="texttule">IssuedTo:</span>
    <select name="issuedto" id="issuedto" required>
     <option value="">--Select--</option>
     {%for row in result2%}
     <option value="{{row[0]}}">{{row[1]}}</option>
     {%endfor%}
          </select>
    </div>
    <div class="row myrow">
    <div class="col-3">
	   <span class="texttule">IssuedDateFrom:</span>
	 <td><input  type="date" id="issueddatefrom"  name= "issueddatefrom" required></td>
   </div>
     <div class="col-3">
   <span class="texttule">IssuedDateTo:</span>
   <td><input  type="date" id="issueddateto"  name= "issueddateto" required></td>
   </div>

   <div class="col-2">
   <input type="submit" class="button" id='btnsave' value="SEARCH" style="height:30px;width:100px;background-color:#A9A9A9;font-weight:bold">
   {%if ack4 == 'Excel Sheet Generated Successfully'%}
   <a href="static/MedicineUploads/OutwardViewWardByissuedDateList.xlsx" download>
   <img src="static/icon4/excel6.png" width="40px" height="40px"></a>
     {%endif%}
     <p style="inline"><b> {{ack4}}</b></p>

    </div>
    </div>
    </form>
   <div style="width:100%;max-height:400px;line-height:1em;overflow:scroll;">
      <div id="tablecontainer"></div>
      <table border=1 id="mainTable">
            <thead >
                <tr>
                    <th>Drug Name</th>
                    <th>Drug Type</th>
                    <th>Drug Issued To Department</th>
                    <th>WardName</th>
                    <th>Batch Number</th>
                    <th>PackQuantity</th>
                    <th>TotalQuantity</th>
                    <th>IssuedQuantity</th>
                    <th>PerMRP</th>
                    <th>UnitPrice</th>
                    <th>Expiry Date</th>
                    <th>Amount</th>
                    <th>Rack Number</th>
                    </tr>
            </thead>
            <tbody>
              </div>

              {%for row in getdata%}
    <form action="ViewDetailsByGeneralSearchMedcineOutward" method="post">
            	<tr>
                <input type="text" name="outw_id" value="{{row[0]}}" style="display:none;">

                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[13]}}</td>
                <td>{{row[8]}}</td>
                <td>{{row[9]}}</td>
                <td>{{row[10]}}</td>
                <td>{{row[11]}}</td>
                <td><b><i>{{row[12]}}</i></b></td>


            		</tr>

                </form>

                {%endfor%}

{% endblock %}
